.products {
  width: 100%;
  display: grid;
}

.product-list {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 10px;
}

/* filters */

/* .products-filters-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
} */

.products-categories {
  width: fit-content;
  margin-left: 5px;
}

.category {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}
