/* General styling */
.navbar svg {
  color: white;
  transition: transform 150ms ease-in;
}

.navbar svg:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.navbar a {
  text-decoration: none;
  display: inline-block;
  color: #0d0e43;
  transition: transform 150ms ease-in;
}

.navbar a:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

/* Navbar Stuff */

.navbar {
  width: 100%;
  background-color: #8568ff;
  height: 146px;
  display: grid;
  align-items: center;
  font-size: 16px;
}

.navbar li {
  list-style-type: none;
}

.nav-main {
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav-links {
  width: 100%;
  /* border: 1px solid white; */
  display: flex;
  gap: 30px;
}

.nav-search {
  display: flex;
  justify-content: center;
  grid-column-start: 4;
  /* gap: 30px; */
  justify-content: space-around;
}

.nav-search input {
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 1.5px;
}

.nav-search-input {
  position: relative;
}

.search {
  position: absolute;
  right: 3%;
  bottom: 10%;
  font-size: 13px;
  filter: invert(0.8);
}

.icons {
  display: flex;
  gap: 10px;
}

/* active class for NavLink */
.active {
  color: white;
}
